.Heading { color: #686868; font-family: sans-serif; padding-left: 20px;}
.Heading ul li h1 { font-size: 75px; padding-top: 60px;}
.Heading ul li h2 { font-size: 29px;}
.Heading ul { list-style-type: none;}

.login ul { list-style-type: none; padding-left: 60px;}
.login ul li { font-size: 20px; font-family: sans-serif; color: #772A7F}

.images ul li { list-style-type: none; display: inline;}
#IMG { width:426.67px; height: 78.33px;}
#IMG2 { float: right; height: 236px; width: 500px;}

#text { height: 30px; font-size: 18px;}

#qrcode { position: absolute; padding-left: 600px; padding-top: 90px;}
