.Heading { color: #686868; font-family: sans-serif; padding-left: 20px;}
.Heading ul li h1 { font-size: 70px;}
.Heading ul { list-style-type: none;}

.login ul { list-style-type: none; padding-left: 60px;}
.login ul li { font-size: 20px; font-family: sans-serif; color: #772A7F}

#text { height: 30px; font-size: 18px;}
#cats { width:426.67px; height: 78.33px;}
